
.cartHeading {
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height */

  color: #263238;
}

.cartSubHeading {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #78909c;
  margin: 0.5em 0;
  text-align: left;
}
