.listItemName {
  flex: 3;
  font-weight: bold;
  font-size: 14px;
  line-height: 160%;
  /* or 22px */

  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #37474f;
  cursor: pointer;
}

.listItemName:hover {
    background: #F6F6FF;
    color: #4553F0;
}
